/*************** General */
body {
  font-family: 'Raleway', sans-serif;
  background-color: #ED8B1C;
  color: #212026;
}

main {
  min-height: 80vh;
}

section:first-child {
  margin-top: 5.6rem;
}

/* Titres */
h1,
h2 {
  font-weight: bold;
  text-transform: uppercase;
}

@media (min-width: 1200px) {
  html {
    font-size: 1.2rem;
  }

  h1 {
    font-size: 1.7rem;
  }

  h2 {
    font-size: 1.6rem;
  }
}

/* Texte */
span {
  color: #F2F433;
}

.text-muted {
  color: lightgray !important;
}

/****************** Btn  */
.btn,
.btn-check:focus,
.btn-primary,
.btn-check:focus+.btn-primary {
  color: black;
  background-color: #F2F433;
  text-transform: uppercase;
  font-weight: bold;
  /* Bordure */
  border: .2rem solid black;
  border-radius: 0 !important;
  /* Shadow */
  -webkit-box-shadow: 9px 9px 0px -3px #212026;
  box-shadow: 9px 9px 0px -3px #212026;
}

.btn:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: .2rem solid black;
  color: black;
  background-color: #F2F433;
}

.btn-warning,
.btn-warning:hover {
  background-color: #FF7A00;
}

.btn-danger,
.btn-danger:hover {
  background-color: #FF2F00;
}

.btn-close {
  filter: invert(100%);
  -webkit-filter: invert(100%);
  -moz-filter: invert(100%);
}

/****************** Liens  */
a {
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}

a:hover,
a:focus {
  color: white;
  text-decoration: none !important;
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/****************** Images */
img,
.card-img,
.img {
  -o-object-fit: cover;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.avatar {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  border: .2rem solid black;
}

.avatar-sm {
  width: 40px;
  height: 40px;
}

/*************** Navbar */
nav {
  background-color: #ED4E1C;
  border: .2rem solid black;
}

/*************** Dropdown */
.dropdown-menu {
  background: #ED4E1C;
  border-radius: 0;
  border: 0.2rem solid black;
  color: black;
}

.dropdown-menu .dropdown-item {
  font-weight: bold;
  background-color: #ED4E1C;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #fff;
    background-color: none;
}
/*************** Toaster */
.toast-container {
  z-index: 1500;
}

.toast {
  background-color: #FFC700;
  border: .2rem solid black;
  overflow: hidden;
  border-radius: 0;
}

.toast-header {
  font-weight: bold;
  background-color: #05A8ED;
  /* Border */
  border-bottom: .2rem solid black;
}

.toast strong,
.toast div {
  color: black;
}

/****************** Form */
form {
  background-color: #ED4E1C;
}

input.form-control,
.form-control:focus,
textarea.form-control {
  border: 0.2rem black solid !important;
  border-radius: 0;
  /* Transition */
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

input::file-selector-button {
  font-weight: bold;
  color: white !important;
  background-color: black !important;
}

.form-control:focus {
  -webkit-box-shadow: 10px 10px 10px #21202646;
  box-shadow: 10px 10px 10px #21202646;
  /* Transition */
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

textarea {
  resize: none;
}

/****************** Card  */
.card {
  height: 250px;
  border: .2rem solid black;
  border-radius: 0;
  background-color: black;
  overflow: hidden;
  cursor: pointer;
  /* Transition */
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  /* Shadow */
  -webkit-box-shadow: 0 0 0 0 #212026;
  box-shadow: 0 0 0 0 #212026;
}

.card:hover {
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  /* Shadow */
  -webkit-box-shadow: 9px 9px 0px -3px #212026;
  box-shadow: 9px 9px 0px -3px #212026;
}

.card:hover .content .card-img {
  /* Scale */
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  /* Transition */
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.card .content .card-img {
  /* Transition */
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  /* Scale */
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

/* Overlay */
.card .overlay-text {
  top: auto;
}

.card .card-img-overlay div {
  background-color: #FFC700;
  padding: .5rem;
  border: .2rem solid black;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.card .card-img-overlay div h2 {
  font-size: 1rem;
  margin: 0;
}

/****************** Modal  */
.modal {
  background: #ffc70033;
}

.modal-content {
  background-color: #EDE21C;
  border: .2rem solid black;
  overflow: hidden;
  border-radius: none;
  /* Shadow */
  -webkit-box-shadow: 18px 16px 0px 5px #212026;
  box-shadow: 18px 16px 0px 5px #212026;
}

.modal-content,
.modal-content>* {
  border-radius: 0;
}

.modal-header {
  text-transform: uppercase;
  background-color: #ED4E1C;
  /* Border */
  border-bottom: .2rem solid black;
  border-top: none;
}

.modal-title {
  font-weight: bold;
}

.modal-footer {
  background-color: #EDE21C;
  /* Border */
  border-top: .2rem solid black;
}

/*************** Onglet */
.nav-tabs {
  border: none;
}

.nav-tabs .nav-item .active {
  border: .2rem solid black;
  border-bottom: none;
  background-color: #ED4E1C !important;
  color: black !important;
}

.nav-tabs .nav-link {
  color: #f8f9fd;
}

.tab-content {
  border: .2rem solid black;
  background-color: #ED4E1C;
  padding: 1rem;
}

tr {
  border-bottom: .1rem solid white;
}

th {
  color: #f8f9fd;
}

/*************** Profil */
.user-profil {
  border: .2rem solid black;
  background-color: #ED4E1C;
  padding: 1rem;
}


/*************** Login */
.login {
  width: 100%;
  overflow: hidden;
  background: #ED4E1C;
  border-radius: 5px;
  border: .2rem solid black;
}

.login .img {
  border-right: .2rem solid black;
}

.img,
.login-wrap {
  width: 50%;
}

@media (max-width: 991.98px) {

  .img,
  .login-wrap {
    width: 100%;
  }
}

@media (max-width: 767.98px) {
  .login .img {
    height: 250px;
  }
}

.disabled {
  pointer-events: none;
}

/*************** Footer */
footer {
  color: white;
  background-color: #FFC700;
}